/*----------main layout----------*/
body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div#at-plus-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

div#bottom-positioner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div#button {
    position: relative;
    top: 750px;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

/*----------at-plus----------*/

div.apb {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: gray;
    border-radius: 50%;
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}

div.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("assets/images/atplus_white.png");
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}

div#button:hover div.apb {
    transform: scale(2);
    background-color: rgba(48,63,159,1);
    transition: all 0.5s;
}

div#button:hover div.icon {
    background-image: url("assets/images/atplus_green.png");
    transition: all 0.1s;
}
/*----------info-bar----------*/

div#info-bar {
    width: 35px;
    height: 35px;
    position: absolute;
    opacity: 0; 
    transition-property: all; 
    transition-duration: 1s;
}

div#button:hover div#info-bar {
    opacity: 1;
}

div.info {
    position: absolute;
    width: 35px;
    height: 35px;
}

ul.complex {
    height: 35px;
    width: 35px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: gray;
    position: absolute;
    transition-property: all; 
    transition-duration: 1s;
    overflow: hidden;
}

div#button:hover ul.complex {
    height: 120px;
    width: 120px;
    padding: 20px 20px 20px 20px;
    transform: translate(-60px, -200px);
}

ul.complex li {
	position: relative;
	font-family: cursive;
}

li.mine {
	display: inline;
}

li.page.user span {
	padding-left: 10px;
	position: relative;
	bottom: 5px;
	font-size: 20px;
}

li.page.comment span {
	padding-left: 10px;
	position: relative;
	font-size: 30px;
}

li.mine.posted span {
	padding-left: 10px;
	position: relative;
	bottom: 5px;
	font-size: 18px;
	color: #079E6E;
}

li.mine.like span {
	padding-left: 10px;
	position: relative;
	bottom: 5px;
	font-size: 18px;
	color: #079E6E;
}

/*----------control-ring----------*/

div#control-ring-container {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    transition-property: all; 
    transition-duration: 1s;
}

div#button:hover div#control-ring-container {
    opacity: 1;
}

ul#control-ring {
    width: 35px;
    height: 35px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    display: flex;
}

ul#control-ring li {
	position: absolute;
	display: flex;
	width: 40px;
	height: 40px;
	background-color: gray;
	border-radius: 50%;
    transition-property: all; 
    transition-duration: 1s;
}

div#button:hover li.mask{
    transform: translate(-80px, -50px);
}
div#button:hover li.history {
    transform: translate(-95px, 5px);
}
div#button:hover li.message {
    transform: translate(-80px, 55px);
}
div#button:hover li.setting {
    transform: translate(-30px, 85px);
}
div#button:hover li.sign {
    transform: translate(28px, 80px);
}

ul#control-ring li img {
    opacity: 0;
}

div#button:hover ul#control-ring li img {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s; 
}

ul#control-ring li.message span {
    opacity: 0;
}

div#button:hover ul#control-ring li.message span {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

li.button img {
	display: block;
	margin: auto;
}

span.unread {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    color: white;
    background-color: red;
    position: absolute;
    right: -7px;
    bottom: 25px;
}
